<section class="contenedor">
    <mat-card class="card">
        <mat-card-content class="contenido">
      
          <div class="titulo">
            <h1>Módulo Auth</h1>
          </div>
    
          <div class="example-button-row opciones">
            <button mat-raised-button>
              <a routerLink="/auth/login">Auth</a>
            </button>
            <button mat-raised-button>
              <a routerLink="/auth/forgot">Forgot</a>
            </button>
            <button mat-raised-button>
              <a routerLink="/auth/registro">Registro</a>
            </button>
          </div>
          
        </mat-card-content>
    </mat-card> 
    
    <mat-card class="card">
    <mat-card-content class="contenido">
    
        <div class="titulo">
        <h1>Módulo Productos</h1>
        </div>

        <div class="example-button-row opciones">
        <button mat-raised-button>
            <a routerLink="/productos/producto">Producto</a>
        </button>
        <button mat-raised-button>
            <a routerLink="/productos/agregar">Agregar</a>
        </button>
        <button mat-raised-button>
            <a routerLink="/productos/listar">Listar</a>
        </button>
        </div>
        
    </mat-card-content>
    </mat-card>

    <mat-card class="card">
    <mat-card-content class="contenido">
    
        <div class="titulo">
        <h1>Módulo Usuarios</h1>
        </div>
    
        <div class="example-button-row opciones">
        <button mat-raised-button>
            <a routerLink="/usuarios/listar">Usuarios</a>
        </button>
        <button mat-raised-button>  
            <a routerLink="/usuarios/agregar">Agregar</a>
        </button>
        </div>
        
    </mat-card-content>
    </mat-card>
    
</section>
